* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-weight: 300;
}

.headBack {
    width: 100%;
    height: 60px;
    background-color: #429f6d;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
}

.head {
    float: left;
    padding-top: 2px;
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}




.form {
    margin-top: 160px;
    margin-left: 38%;
    width: 23%;
    height: 320px;
    border: 2px solid #000000;
    border-radius: 6px;
    padding-top: 20px;   
}

.form hr{
    width: 74%; 
    margin-top: 8px; 
    margin-left: 13%;
}

.author {
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    
}

.name {
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 16%;
    width: 64%;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    padding: 10px 2%;
    border: 0;
    border-bottom: 4px solid #000000;
    outline: none;
    letter-spacing: 1px;
}   

.amount {
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 16%;
    width: 24%;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    padding: 10px 2%;
    border: 0;
    border-bottom: 4px solid #000000;
    outline: none;
    letter-spacing: 1px;
    float: left;
}

.period {
    float: right;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-right: 16%;
    width: 24%;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    padding: 10px 2%;
    border: 0;
    border-bottom: 4px solid #000000;
    outline: none;
    letter-spacing: 1px;
}

.open {
    float: right;
    margin-top: 40px;
    background: #ffffff;
    color: #000000;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 6%;
    margin-right: 20px;
    letter-spacing: 1px;
}

.open:hover{
    transform: scale(1.01);
    cursor: pointer;
}






.help {
    margin-top: 209px;
    margin-bottom: 0    ;
    width: 100%;
    height: 40px;
    background-color: #f0f0ef;
    border-radius: 10px 10px 0 0;
}

.support {
    color: #5e5e5e;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    float: left;
    margin: 10px 50px;
}

.support:hover {
    transform: scale(1.01);
    color: #7e7e7e;
}

.info {
    color: #4b4a4a;
    font-size: 18px;
    float: left;
    margin: 10px auto;
}
