* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-weight: 300;
}

.headBack {
    width: 100%;
    height: 60px;
    background-color: #429f6d;
    position: fixed;
    top: 0;
}

.head {
    float: left;
    padding-top: 2px;
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

.ent {
    width: 110px;
    margin-top: 8px;
    padding: 10px 16px;
    float: right;
    outline: none;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    background-color: #429f6d;
}

.ent:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.reg {
    width: 160px;
    margin-top: 8px;
    margin-right: 10px;
    padding: 10px 16px;
    float: right;
    outline: none;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    background-color: #429f6d;
}

.reg:hover {
    transform: scale(1.04);
    cursor: pointer;
}




.together {
    width: 100%; 
    height: 560px; 
    margin-top: 110px;
}   

.stock {
    width: 40%;
    margin-right: 5%;
    height: 550px;
    box-shadow: 3px 3px 11px 0px  #878787;
    border-radius: 6px;
    margin-left: 30%;
    overflow-x: hidden;
}

.stock hr{
    width: 70%; 
    margin-left: 15%;
}

.stock p{
    text-align: center; 
    font-size: 24px; 
    padding: 12px 0px; 
    letter-spacing: 2px;

}

.help {
    margin-top: 43px;
    margin-bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f0f0ef;
    border-radius: 10px 10px 0 0;
}

.support {
    color: #5e5e5e;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    float: left;
    margin: 10px 50px;
}

.support:hover {
    transform: scale(1.01);
    color: #7e7e7e;
}

.info {
    color: #4b4a4a;
    font-size: 18px;
    float: left;
    margin: 10px auto;
}

