* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-weight: 300;
}

.headBack {
    width: 100%;
    height: 60px;
    background-color: #4a4a4a5f;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.head {
    color: #000000;
float: left;
padding-top: 2px;
padding-left: 20px;
font-size: 40px;
font-weight: 350;
letter-spacing: 1px;
}


.together{
    width: 100%;
    height: 465px;
    margin-top: 160px;

}

.rate {
    width: 30%;
    height: 460px;
    border-radius: 6px;
    margin-left: 35%;
}

.pRate{
    font-size: 32px; 
    margin-left: 4%; 
    letter-spacing: 2px; 
    position: relative; 
    bottom: 15px;
}

.val {
    float: left;
    width: 40%;
    height: 460px;
}

.exch {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
}

.pValuta {
    font-size: 20px; 
    margin-left: 15%; 
    letter-spacing: 1px; 
    margin-top: 5px; 
    padding-top: 5px;
}

.exch p:not(.exch .pValuta){
    font-size: 20px; 
    margin-left: 6%; 
    letter-spacing: 1px; 
    margin-top: 5px; 
    padding-top: 5px;
}

.buy {
    float: left;
    width: 30%;
    height: 460px;
}

.sell {
    float: left;
    width: 30%;
    height: 460px;
}

.dollar {
    width: 40%;
    height: 80px;
    font-size: 24px;
    margin-left: 15%;
}

.euro {
    width: 40%;
    height: 80px;
    font-size: 24px;
    margin-left: 15%;
}

.dollar p, .euro p{
    position: relative; 
    top: 28px; 
    letter-spacing: 1px;
}



.help {
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100px;
    background-color: #f0f0ef;
    border-radius: 10px 10px 0 0;
    
}

.support {
    color: #5e5e5e;
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-top: 30px;
    margin-left: 29.7%;
    text-decoration: none;
}
.support:hover {
    transform: scale(1.01);
    color: #7e7e7e;
}

.info {
    color: #4b4a4a;
    font-size: 18px;
    float: left;
    margin-top: 65px;
    margin-left: 20px;
}


