* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-weight: 300;
}

.headBack {
    width: 100%;
    height: 60px;
    background-color: #4a4a4a5f;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
}

.head {
    color: #000000;
float: left;
padding-top: 2px;
padding-left: 20px;
font-size: 40px;
font-weight: 350;
}


.together{
    width: 100%;
    height: 565px;
    margin-top: 160px;

}

.form {
    width: 24%;
    margin-left: 20%;
    height: 560px;
    border: 2px solid #000000;
    border-radius: 6px;
    padding-top: 20px;
    float: left;
}

.author {
    font-size: 30px;
    margin-left: 35%;
    
}

.name {
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 16%;
    width: 64%;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    padding: 10px 2%;
    border: 0;
    border-bottom: 4px solid #000000;
    outline: none;

}

.valuta {
    width: 25%;
    padding: 2.6% 1%;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 10px;
}

.open {
    float: right;
    font-weight: 300;
    margin-top: 40px;
    background: #ffffff;
    color: #000000;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 6%;
    margin-right: 20px;
    letter-spacing: 1px;
}

.open:hover{
    transform: scale(1.01);
    cursor: pointer;
}




.rate {
    float: right;
    width: 24%;
    margin-right: 15%;
    height: 560px;
    border-radius: 6px;
}

.val {
    float: left;
    width: 40%;
    height: 500px;

}

.exch {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
}

.buy {
    float: left;
    width: 30%;
    height: 500px;
}

.sell {
    float: left;
    width: 30%;
    height: 500px;
}

.dollar {
    width: 40%;
    height: 80px;
    font-size: 24px;
    margin-left: 15%;
}

.euro {
    width: 40%;
    height: 80px;
    font-size: 24px;
    margin-left: 15%;
}



.help {
    margin-top: 120px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100px;
    background-color: #f0f0ef;
    border-radius: 10px 10px 0 0;
    
}

.support {
    color: #5e5e5e;
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-top: 30px;
    margin-left: 29.7%;
    text-decoration: none;
}
.support:hover {
    transform: scale(1.01);
    color: #7e7e7e;
}

.info {
    color: #4b4a4a;
    font-size: 18px;
    float: left;
    margin-top: 65px;
    margin-left: 20px;
}


